numpy
pandas
scikit-learn
matplotlib
seaborn
xgboost
flask
joblib
gunicorn
tabulate
requests
fastapi
uvicorn
pydantic
streamlit
python-multipart
typing-extensions
pillow
kiwisolver
cycler
fonttools
pyparsing
packaging
contourpy